<h1>Recipes#index</h1>

<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
    Dropdown button
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <li><a class="dropdown-item" href="#">Action</a></li>
    <li><a class="dropdown-item" href="#">Another action</a></li>
    <li><a class="dropdown-item" href="#">Something else here</a></li>
  </ul>
</div>


<% if session[:user_id] %>
  <%= link_to "View Recipe History", user_path(session[:user_id]) %>
  <%= form_with url: logout_path, method: :delete, local: true do %>
    <%= submit_tag "Logout"%>
  <% end %>
<% else %>
  <%= link_to "Sign Up", signup_path, class: "btn btn-link" %> |
  <%= link_to "Login", login_path, class: "btn btn-link" %>
<% end %>

<h4>Works on:</h4>

<ul>
  <li>https://www.seriouseats.com/</li>
  <li>https://www.allrecipes.com/</li>
  <li>https://www.simplyrecipes.com/</li>
</ul>

<%= form_with url: extract_recipes_path, method: :post, local: true do |f| %>
  <div>
    <%= f.label :url, "Enter recipe URL:" %>
    <%= f.text_field :url, placeholder: "https://example.com/recipe", size: 50 %>
  </div>

  <div>
    <%= f.label :unit, "Select Unit System:" %><br>
    <%= f.radio_button :unit, "metric" %> <%= f.label :unit, "Metric Units" %><br>
    <%= f.radio_button :unit, "us_customary" %> <%= f.label :unit, "US Customary Units" %>
  </div>
  <div>
    <%= f.submit "Extract Recipe" %>
  </div>
<% end %>

<% if @ingredients.any? %>
  <h2>Extracted Ingredients</h2>
  <ul>
    <% @ingredients.each do |ingredient| %>
      <li><%= ingredient %></li>
    <% end %>
  </ul>
<% end %>

<% if @parsed_ingredients.any? %>
  <h2>Parsed Ingredients</h2>
  <ul>
    <% @parsed_ingredients.each do |parsed_ingredient| %>
      <li><%= parsed_ingredient %></li>
    <% end %>
  </ul>
<% end %>
