<h1>Recipes#index</h1>
<p>Find me in app/views/recipes/index.html.erb</p>

<h4>Works on:</h4>
<ul>
  <li>https://www.bbcgoodfood.com/recipes/pumpkin-pie</li>
  <li>https://www.seriouseats.com/shoofly-pie-recipe-8701529</li>
  <li>https://www.allrecipes.com/mini-chicken-pot-pies-recipe-8735456</li>
</ul>

<h4>To Do:</h4>
<ul>
  <li>https://foodnetwork.co.uk/recipes/kadhi-pakora</li>
  <li>https://www.food.com/recipe/crock-pot-beef-roast-384905</li>
</ul>

<%= form_with url: scrape_recipes_path, method: :post, local: true do |f| %>
  <div>
    <%= f.label :url, "Enter recipe URL:" %>
    <%= f.text_field :url, placeholder: "https://example.com/recipe" %>
  </div>

  <div>
    <%= f.label :unit, "Select Unit System:" %><br>
    <%= f.radio_button :unit, "metric" %> <%= f.label :unit, "Metric Units" %><br>
    <%= f.radio_button :unit, "us_customary" %> <%= f.label :unit, "US Customary Units" %>
  </div>
  <div>
    <%= f.submit "Scrape Recipe" %>
  </div>
<% end %>

<% if @ingredients.any? %>
  <h2>Extracted Ingredients</h2>
  <ul>
    <% @ingredients.each do |ingredient| %>
      <li><%= ingredient %></li>
    <% end %>
  </ul>
<% end %>

<% if @parsed_ingredients.any? %>
  <h2>Parsed Ingredients</h2>
  <ul>
    <% @parsed_ingredients.each do |parsed_ingredient| %>
      <li><%= parsed_ingredient %></li>
    <% end %>
  </ul>
<% end %>
