<h1>Recipes#index</h1>
<p>Find me in app/views/recipes/index.html.erb</p>
<ul>
  <li>https://www.bbcgoodfood.com/recipes/chocolate-chunk-cookies</li>
  <li>https://www.marthastewart.com/344840/soft-and-chewy-chocolate-chip-cookies</li>
</ul>

<%= form_with url: scrape_recipes_path, method: :post, local: true do |f| %>
  <div>
    <%= f.label :url, "Enter recipe URL:" %>
    <%= f.text_field :url, placeholder: "https://example.com/recipe" %>
  </div>
  <div>
    <%= f.submit "Scrape Recipe" %>
  </div>
<% end %>

<% if @ingredients.any? %>
  <ul>
    <% @ingredients.each do |ingredient| %>
      <li><%= ingredient %></li>
    <% end %>
  </ul>
<% else %>
  <p>No ingredients found.</p>
<% end %>
