<!DOCTYPE html>
<html>
  <head>
    <title>Cupigram</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= favicon_link_tag "coffee_cup.png" %>

    <%= stylesheet_link_tag "https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" %>
    <%= stylesheet_link_tag "application" %>

  </head>

  <body>
    <nav class="navbar bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="<%= root_path %>">Cupigram</a>
        <div class="d-flex justify-content-end">
        <% if session[:user_id] %>
          <%= link_to "View Recipe History", user_path(session[:user_id]), class: "btn p-btn btn-light" %>
          <%= form_with url: logout_path, method: :delete, local: true do %>
            <%= submit_tag "Logout", class: "btn p-btn btn-light"%>
          <% end %>

        <% else %>
        <%= link_to "Sign Up", signup_path, class: "btn p-btn btn-light" %>  
        <%= link_to "Login", login_path, class: "btn p-btn btn-light" %>
        <% end %>
        </div>
      </div>
    </nav>

    <div class="contianer-fluid">
      <div class="row">
        <div class="col-sm-2 p-color min-vh-100 d-none d-md-block">
        </div>

        <div class="col">
        <div id="flash"></div>
        <%= yield %>
        </div>

        <div class="col-sm-2 p-color min-vh-100 d-none d-md-block">
        </div>

      </div>
    </div>

    <footer class="bg-dark text-white py-4">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <h5>About</h5>
            <p>
              Cupigram is the easiest recipe convert tool ever. <br>
              All you need to bring is a URL from your favorite recipe website.
            </p>
          </div>
          <div class="col-md-4">
          </div>
          <div class="col-md-4">
            <h5>Contact</h5>
            <p>Email: info@cupigram.com</p>
            <p>
              Address: <br>
              Mayor Street Lower, <br>
              International Financial Services Centre, <br>
              Dublin 1
            </p>
          </div>
        </div>
        <hr class="text-white">
        <div class="text-center">
          <p>&copy; 2024 Cupigram. All rights reserved.</p>
        </div>
      </div>
    </footer>

    <%= javascript_include_tag "https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js", "defer" => true %>
    <%# JavaScript logic to remove flash messages after certain amount of time %>
    <script>
      document.addEventListener("DOMContentLoaded", function() {
        const flashMessage = document.querySelector(".flash-message");
        if (flashMessage) {
          setTimeout(() => {
            flashMessage.style.transition = "opacity 0.5s";
            flashMessage.style.opacity = "0";
            setTimeout(() => flashMessage.remove(), 500);
          }, 3000);
        }
      });
    </script>
  </body>
</html>
